html {
    box-sizing: border-box;
    /* 1. 設定根元素 html 的 box-sizing 為 border-box */
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* 2. 讓所有元素和偽元素繼承其父元素的 box-sizing 值 */
}

a,
h1,
button,
p,
footer {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-decoration: none;
}


.part {
    padding: 0 15%;
}

.header {
    height: 70px;

    background-color: #1F2937;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    display: block;
    height: 70%;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul a {
    margin: 0 0 0 20px;

    color: #F9FAF8;
    color: #e5e7eb;

    font-size: 18px;
    font-weight: 300;

}




.part_1 {
    background-color: #1F2937;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 5%;
    padding-bottom: 5%;
}

.part_1 .INFO {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
}

.part_1 img {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;

    max-width: 600px;
    height: 100%;
    width: 100%;
    border-radius: 20px;

    object-fit: contain;
}

.part_1 h1 {
    color: #F9FAF8;

    font-size: 48px;
    font-weight: 900;

    margin-bottom: 20px;
}

.part_1 p {
    color: #e5e7eb;

    font-size: 18px;
    font-weight: 300;

    margin-bottom: 20px;
}

.part_1 button {
    font-size: 17px;
    font-weight: 500;

    color: #F9FAF8;
    background-color: #3882F6;
    outline: none;
    border: none;

    width: 120px;
    height: 45px;
    border-radius: 12px;

}

.part_1 button:active {
    background-color: #4172c2;
    /* 按下時變暗 */
    border-style: inset;

    outline: none;
    border: none;
}



.part_2 {
    padding-top: 5%;
    padding-bottom: 5%;
}


.part_2 h1 {
    /* margin: 30px 0; */
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}


.part_2 ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;



    /* flex-wrap: wrap; */
    gap: 50px;
    padding: 5%;
}

/* .part_2 ul {
    background-color: rgb(138, 30, 138);
} */

.part_2 il {
    /* background-color: aqua; */

    flex-basis: 100%;
}

.part_2 img {

    width: 100%;

    border: 3px solid #3882F6;
    border-radius: 20px;
}


.part_2 p {

    margin: auto 0;

    text-align: center;

    font-size: 18px;
    color: #1F2937;
    font-weight: 400;

    line-height: 150%;
}



.part_3 {
    background-color: #e5e7eb;
    padding-top: 5%;
    padding-bottom: 5%;

    padding: 10% 20%;
}


.part_3 p {
    font-size: 36px;
    line-height: 48px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.part_3 h1 {
    text-align: end;
    font-size: 24px;
    color: #1F2937;
    font-weight: 500;
}



.part_4 {
    padding-top: 10%;
    padding-bottom: 10%;
}


.part_4 .chunk {
    background-color: #3882F6;
    border-radius: 15px;
    padding: 5% 10%;


    display: flex;
    align-items: center;
    justify-content: space-between;
}


.part_4 h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.part_4 p {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 300;
    line-height: 36px;
}


.part_4 button {
    width: 150px;
    height: 42px;

    font-size: 18px;
    color: #F9FAF8;
    font-weight: 500;


    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
}

.part_4 button:active {
    background-color: #4172c2;
    /* 按下時變暗 */
    border: 2px solid #f9faf88f;
}


.footer {


    /* height: 70px; */
    padding: 4%;

    background-color: #1F2937;


    font-size: 18px;
    color: #F9FAF8;
    font-weight: 300;

    text-align: center;

}